<!DOCTYPE html>
<html lang="en">
<head>
    <title>Editar Independiente</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <style type="text/css">
        .float-message {
            position: fixed;
            top: 1%;
            width: 100%;
            z-index: 9999;
        }

        /*noinspection CssUnusedSymbol*/
        .form-group label.error {
            color: #FB3A3A;
            display: inline-block;
            text-align: right;
            width: 100%;
        }


    </style>
</head>
<body>
<form role="form" action="" method="post" enctype="multipart/form-data" id="register-form"
      novalidate="novalidate">
    {% csrf_token %}
    <div class="modal-body">
        {% for field in form_trabajador %}
            <div class="form-group">
                {{ field.label_tag }}
                {{ field }}
            </div>
        {% endfor %}
    </div>
    <div class="modal-footer btn-toolbar">
        <button type="submit" id="id_editar_" class="btn btn-default btn-success pull-right">
            <span class="glyphicon glyphicon-save"></span> Guardar
        </button>
        <button class="btn btn-default btn-default pull-right" onclick="window.location='../../';"
                style="margin-left: 5px">
            <span class="glyphicon glyphicon-remove"></span> Cancelar
        </button>
    </div>
</form>
</body>
</html>